.toggle-container {
  width: 18rem;
  height: auto;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
}
.toggle-text {
  margin: 10px;
}
.toggle-icons-container {
  width: 80%;
  background-color: #ebf2f7;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
}
.icon-card {
  width: 50%;
}
.icon-list {
width: 50%;
}
.icon-card:hover {
  cursor: pointer;
  background-color: #8ee0bf;
  border-radius: 10px;
}
.icon-list:hover {
  cursor: pointer;
  background-color: #8ee0bf;
  border-radius: 10px;
}