.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  background-color: #ebf2f7;
}

.sidebar-area-container {
  width: 35vw;
}

.news-area-container {
  width: 65vw;
  display: flex;
  margin: 10px;
}
